<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <h3>
      {{post.title}}
    </h3>
    <div class = "edit-post_content">
        <textarea name="post_content">{{post.post_content}}</textarea>
    </div>
    <button type="submit">Update post content</button>
    <button type="button" class="delete-post-btn">Delete post</button>
     <div>
         Posted by you on {{format_date post.created_at}}
     </div>
  </form>
</article>


<form class="comment-form">
  <h4>
    New Comment
  </h4>
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
   <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
